.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 3rem;
    max-width: 35ch;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        text-decoration: none;
    }
}

.effect {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: $primary-dark;
    outline: solid 2px $primary-dark;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
}

.effect::before,
.effect span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
}

.effect:hover {
    background-color: $primary;
}

.effect:hover span {
    -webkit-transform: translateY(-400%) scale(-0.1, 20);
    transform: translateY(-400%) scale(-0.1, 20);
}

.effect::before {
    content: attr(data-sm-link-text);
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1, 20);
    transform: translateY(500%) scale(-0.1, 20);
}

.effect:hover::before {
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
}
