.form-input {
    width: 35ch;
    border: 0;
    border-bottom: 2px solid $primary-dark;
    outline: 0;
    font-size: 1.3rem;
    color: $primary;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
