// Colors
$black: #000;
$dark-gray: #333;
$light-gray: #CCC;
$white: #FFF;

$dark: #2c3e50;

$primary: #606C38;
$primary-dark: #283618;
$primary-light: #FEFAE0;

$secondary: #DDA15E;
$secondary-dark: #BC6C25;

// Screen size
$desktop: 1200px;
$tablet: 800px;
$phone: 480px;